body {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue';
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

button {
    background-color: #3882f6;
    height: 28px;
    width: 96px;
    border-radius: 8px;
    color: white;
    border: none;
}

img {
    display: flex;
    flex-shrink: 0;
    border-color: lightslategray;
    border-radius: 8px;
    background-color: #6d747d;
}

.header, .top-section, .second-section, .third-section, .fourth-section {
    padding: 0 256px;
}

.header, .top-section {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    flex: auto;
}

.header {
    height: 64px;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
}

.header > ul {
    font-weight: lighter;
    font-size: 16px;
    color: #e5e7eb;
}


.top-section {
    display: flex;
    justify-content: s;
    gap: 64px;
    height: 40vh;
}

.hero {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7ebbe;
    gap: 8px;
    flex: 1 1 1;
}


.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex: auto;
    gap: 32px;
    padding-bottom: 32px;
}   

.second-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 24px 0;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
    gap:48px;
}


.box-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;

}
.box {
    border: #3b82f6; 
    border-style: solid; 
    border-radius: 12px;
    border-width: 3px;
    height: 125px; 
    width: 125px;
}

.text {
    text-align: center;
    color: #79808a;
    font-size: 14px;
    padding: 8px 0; 
}
.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    flex: 1 1 0%;
    padding: 96px 0 72px 0;
}

.center-quote {
    display: flex;
    flex-direction: column;
    flex: 2 1 0%;
    gap: 24px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    align-self: center;
    justify-content: center;
    max-width: 60vw;

}

.credit {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    padding: 48px;
    height: 25vh;

}

.cta-and-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    background-color: #3882f6;
    height: 128px;
    width: 50%;
    border-radius: 8px;
}
.call-to-action {
    color: #cdd7ec;
    font-size: 14px;

}

#cta {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2px;
}
#cta-button {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    flex-shrink: 0;
}

.footer {
    height: 10vh;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    flex: auto;
    
}