body {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue';
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

button {
    background-color: #3882f6;
    height: 28px;
    width: 96px;
    border-radius: 8px;
    color: white;
    border: none;

}

.header, .top-section, .second-section, .third-section, .fourth-section {
    padding: 0 128px;
}

.header, .top-section {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    flex: auto;
}

.header {
    height: 64px;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
    padding-top: 16px;
}

.header > ul {
    font-weight: lighter;
    font-size: 16px;
    color: #e5e7eb;
}


.top-section {
    display: flex;
    justify-content: s;
    gap: 64px;
    height: 40vh;
}

.hero {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #e5e7ebbe;
    gap: 8px;
    flex: 1 1 1;
}


.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}   

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    max-width: 100vw;
    gap: 64px;
    justify-content: space-evenly;
}

.second-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.box-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 100px;
}
.box {
    border:black; 
    border-style: solid; 
    height: 100px; 
    width: 100px;
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    flex: auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    align-self: center;
    justify-content: center;
    max-width: 60vw;

}

.credit {
    align-self: flex-end;
    font-weight: bold;
}

.fourth-section {
    display: flex;
    justify-content: center;
    flex: auto;
}

.call-to-action {
    background-color: #3882f6;
}


#cta-button {
    border-color: white;
}

.footer {
    height: 32px;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    flex: auto;
    
}